body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#siteName {
  text-align: center;
  font-size: 5em;
  color: rgb(39, 39, 156);
  text-shadow: 0 0 15px #505258;
}

body {
  margin: 50;
  font-family: monospace;
  display: grid;
  grid-gap: 1em;
  background-color:darkgrey
}