body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#siteName {
  text-align: center;
  font-size: 5em;
  color: rgb(39, 39, 156);
  text-shadow: 0 0 15px #505258;
}

body {
  margin: 50;
  font-family: monospace;
  display: grid;
  grid-gap: 1em;
  background-color:darkgrey;
  margin-left: 50px;
}

.navbar {
  
  font-size: 2em;
  color: black;
}

button {
  position: relative;
  background-color:red;
  border: none;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}

#buy, #deposit {
  background-color: green;
}

#balance {
  color: rgb(3, 53, 3);
}

.chart {
  justify-self: center;
  width: auto;
}

